<template>
  <q-page>
    <div class="q-pa-md" style="visibility: visible">
      <q-carousel
        animated
        v-model="slide"
        navigation
        infinite
        :autoplay="autoplay"
        arrows
        transition-prev="slide-right"
        transition-next="slide-left"
        @mouseenter="autoplay = false"
        @mouseleave="autoplay = true"
      >
        <q-carousel-slide :name="1" img-src="/lll.jpg"/>
        <q-carousel-slide :name="2" img-src="/gag.jpg"/>
      </q-carousel>
    </div>
  </q-page>
</template>
<script>
export default {
  data () {
    return {
      slide: 1,
      autoplay: true
    }
  }
}
</script>
