<template>
  <q-page>
    <h5 class="text-center">
      Продавец-консультант
    </h5>
    <p>
      <q-btn @click="load" v-if="list.length < 1">Загрузить список соискателей, готовых к сотрудничеству</q-btn>
    </p>
    <p>
      <q-card v-for="(v,i) in sortedArr" :key="i">
        <q-card-section class="text-center">
          {{v.name}}<br>
          Номер телефона {{v.number}}<br>
          Подходит на {{v.percentage}}%<br>
        </q-card-section>
      </q-card>
    </p>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      list: []
    }
  },
  computed: {
    sortedArr() {
      return this.list.sort(function(a, b) {
        return b.percentage - a.percentage;
      });
    }
  },
  methods: {
    load() {
      this.$q.loading.show();

      this.timer = setTimeout(() => {
        this.$q.loading.hide();
        this.list = [
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Тимофеев Алексей Дмитриевич',
            number: '+7 (971) 549-80-25',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Салтыкова Нонна Ивановна',
            number: '+7 (931) 397-33-54',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Куликова Раиса Павловна',
            number: '+7 (951) 243-55-82',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Колущинская Елена Константиновна',
            number: '+7 (911) 752-21-42',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Машукова Арина Саввановна',
            number: '+7 (968) 172-36-20',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          },
          {
            name: 'Пичушкин Николай Елизарович',
            number: '+7 (910) 745-38-11',
            percentage: Math.floor(Math.random() * (100 - 50) + 50)
          }
        ];

      }, 2500)
    }
  },
  beforeDestroy() {
    if (this.timer !== void 0) {
      clearTimeout(this.timer);
      this.$q.loading.hide();
    }
  }
}
</script>
