<template>
  <q-layout view="lHh lpR lff">

    <q-header reveal elevated class="bg-primary text-white" height-hint="98">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img
              src="https://lh3.googleusercontent.com/qiTiH0d5dkBUuC2UaIWF2tPzyuDdQVEZS618BB2tWDXcWZr5Ku5q-eB3AK8S0FCgG38"
              alt="лого">
          </q-avatar>
          МОТИВ
        </q-toolbar-title>
      </q-toolbar>
      <div class="Butt">
        <q-btn v-if="$router.currentRoute.path !== '/'" @click="$router.push('/')">На главную</q-btn>
        <q-btn-dropdown color="primary" label="Должности" side="left">
          <q-list>
            <q-item clickable v-close-popup @click="onItemClick('torgash')">
              <q-item-section>
                <q-item-label>Торговый представитель</q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup @click="onItemClick('seller')">
              <q-item-section>
                <q-item-label>Продавец-консультант</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup @click="onItemClick('kassir')">
              <q-item-section>
                <q-item-label>Специалист-Кассир</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </div>
    </q-header>
    <q-page-container>
      <router-view/>
    </q-page-container>

    <q-footer elevated class="bg-grey-8 text-white">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img
              src="https://lh3.googleusercontent.com/qiTiH0d5dkBUuC2UaIWF2tPzyuDdQVEZS618BB2tWDXcWZr5Ku5q-eB3AK8S0FCgG38"
              alt="лого">
          </q-avatar>
          Веб-разработчик
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>
<script>
export default {
  data () {
    return {
      left: false,
      text: 'Привет'
    }
  },
  methods: {
    onItemClick (direction) {
      this.$router.push(direction)
    }
  }
}
</script>
